html,body{
	height:100%;
	}
	body{
	background-image:url('bg.jpg');
	background-repeat:no-repeat;
	background-size:101% 105%;
	background-attachment:fixed;
	overflow:auto;
	}
	#logo{
	height:20%;
	float:left;
	left:1%;
	display:inline-block;
	vertical-align:middle;
	position:fixed;
	}
	#name,h3{
	height:5%;
	width:40%;
	font-size:2vw;
	color:#ffffff;
	display:block;
	position:fixed;
	float:right;
	top:4%;
	right:1%;
	text-align:right;
	}
	#name{
	font-family: Georgia,Times,Times New Roman,serif; 
	font-style:italic;
	color:rgba(189,215,238,1);
	}
	h3{
	position:relative;
	top:14%;
	right:45%;
	color:rgba(255,255,255,1);
	font-weight:bold;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	}
	table{
	margin-left:12%;
	width:70%;
	color:white;
	text-align:center;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	}
	#table{
	height:20%;
	}
	#th{
	height:50%;
	color:#ffffff;
	background-color:#000000;
	}
	th{
	height:50%;
	border:1px solid #ffffff;
	}
	#head{
	height:50%;
	}
	td{
	height:50%;
	border-bottom:1px solid #ffffff;
	padding:0.6%;
	}
	#large td{
	border-left:1px solid #ffffff;
	}
	#large{
	border-right:1px solid #ffffff;
	}
	.green,.orange{
	color:green;
	font-weight:bold;
	}
	.orange{
	color:orange;
	}
	a{
	cursor:pointer;
	text-decoration:underline;
	color:rgba(0,191,243,1);
	}
	.out{
	background-color:rgba(11,37,74,0);
	border:none;
	color:#ffffff;
	font-size:1.4vw;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	text-decoration:underline;
	cursor:pointer;
	position:fixed;
	right:1%;
	top:16%;
	}
	.footer{
	position:fixed;
	width:100%;
	bottom:0%;
	background-color:rgba(0,7,15,1);
	color:white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	}
	#cast,#cast1{
	display:inline-block;
	}
	#cast{
	float:left;
	}
	#cast1{
	float:right;
	margin-right:2%;
	}
	#manage{
	width:16%;
	height:5%;
	line-height:200%;
	text-align:center;
	position:fixed;
	font-size:1.2vw;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	border:1px solid rgba(0,191,243,1);
	border-radius:8%;
	box-shadow:0px 0px 5px 1px rgba(0,191,243,1);
	float:right;
	right:1%;
	top:10%;
	}
	#amanage{
	color:#ffffff;
	text-decoration:none;
	}
	#manage:hover{
	box-shadow:0px 0px 7px 2px rgba(0,191,243,1);
	}
	.h_image{
	 height:35%;
	}
	/*android*/
	@media only screen and (min-width:100px) and (max-width:480px){
	 html,body{
	 background-size:cover;
	 }
	 #logo{
	  position:relative;
	  float:left;
	 }
	 h3{
	  font-size:3vw;
	  right:10%;
	 }
	 #name{
	 display:none;
	 }
	 #manage{
	  height:5%;
	  width:22%;
	  font-size:2.5vw;
	  line-height:250%;
	  float:right;
	  left:18%;
	  margin-top:-12%;
	  position:relative;
	 }
	 .out{
	  position:relative;
	  float:right;
	  display:block;
	  margin-top:16%;
	  font-size:3.5vw;
	 }
	 .h_image{
	  height:10vw;
	 }
	 table{
	  font-size:3vw;
	  width:80%;
	 }
	 #head{
	  font-size:4vw;
	 }
	 #large td,#large{
	  border:none;
	 }
	 td{
	  border:none;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	  font-size:4vw;
	  margin-right:5%;
	 }
	}
	
	@media only screen and (min-width:480px) and (max-width:640px){
	 html,body{
	 background-size:cover;
	 }
	 #logo{
	  position:relative;
	  float:left;
	 }
	 h3{
	  font-size:3vw;
	  right:20%;
	 }
	 #name{
	 display:none;
	 }
	 #manage{
	  height:5%;
	  width:22%;
	  font-size:2.5vw;
	  line-height:250%;
	  float:right;
	  left:18%;
	  position:relative;
	 }
	 .out{
	  position:relative;
	  float:right;
	  display:block;
	  margin-top:15%;
	  font-size:3.5vw;
	 }
	 .h_image{
	  height:10vw;
	 }
	 table{
	  font-size:3vw;
	  width:80%;
	 }
	 #head{
	  font-size:4vw;
	 }
	 #large td,#large{
	  border:none;
	 }
	 td{
	  border:none;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	  font-size:4vw;
	  margin-right:5%;
	 }
	}
	/*For iphone*/
	@media only screen and (min-width:640px) and (max-width:768px){
	 html,body{
	 background-size:cover;
	 }
	 #logo{
	  position:relative;
	  float:left;
	 }
	 h3{
	  font-size:3vw;
	  right:20%;
	 }
	 #name{
	  display:none;
	 }
	 #manage{
	  height:5%;
	  width:22%;
	  font-size:2.5vw;
	  line-height:250%;
	  float:right;
	  left:55%;
	  position:relative;
	 }
	 .out{
	  position:relative;
	  float:right;
	  display:block;
	  margin-top:10%;
	  font-size:3.5vw;
	 }
	 .h_image{
	  height:9vw;
	 }
	 table{
	  font-size:3vw;
	  width:80%;
	 }
	 #head{
	  font-size:3.5vw;
	 }
	 #large td,#large{
	  border:none;
	 }
	 td{
	  border:none;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	  font-size:3.5vw;
	  margin-right:5%;
	 }
	}
	
	/*high windows phone*/
	@media only screen and (min-width:768px) and (max-width:1024px){
	
	 html,body{
	 background-size:cover;
	 }
	 #logo{
	  position:relative;
	  float:left;
	 }
	 h3{
	  font-size:3vw;
	  right:20%;
	 }
	 #name{
	  display:none;
	 }
	 #manage{
	  height:5%;
	  width:22%;
	  font-size:2.5vw;
	  line-height:200%;
	  float:right;
	  left:54%;
	  position:relative;
	 }
	 .out{
	  position:relative;
	  float:right;
	  display:block;
	  margin-top:10%;
	  font-size:3vw;
	 }
	 .h_image{
	  height:9vw;
	 }
	 table{
	  font-size:2vw;
	  width:80%;
	 }
	 #head{
	  font-size:3vw;
	 }
	 
	 #large td,#large{
	  border:none;
	 }
	 td{
	  border:none;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	  font-size:3vw;
	  margin-right:5%;
	 }
	}
	/*ipad*/
	@media only screen and (min-width:1024px) and (max-width:1280px){
	 
	 html,body{
	 background-size:cover;
	 }
	 #logo{
	  position:relative;
	  float:left;
	 }
	 h3{
	  font-size:3vw;
	  right:24%;
	 }
	 #name{
	  position:relative;
	  display:inline-block;
	  left:8%;
	 }
	 #manage{
	  height:5%;
	  width:22%;
	  font-size:2vw;
	  line-height:180%;
	  float:right;
	  left:48%;
	  top:10%;
	  position:relative;
	 }
	 .out{
	  position:relative;
	  float:right;
	  display:block;
	  margin-top:8%;
	  font-size:2vw;
	 }
	 .h_image{
	  height:7vw;
	 }
	 table{
	  font-size:2vw;
	  width:80%;
	 }
	 #head{
	  font-size:2vw;
	 }
	 
	 #large td,#large{
	  border:none;
	 }
	 td{
	  border:none;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	  font-size:2vw;
	  margin-right:5%;
	 }
	}