html,body{
	height:100%;
	width:100%;	
	}
	body{
	background-image:url('bg.jpg');
	background-repeat:no-repeat;
	background-size:101% 105%;
	overflow:hidden;
	}
	#logo{
	height:20%;
	margin-left:1%;
	display:inline-block;
	vertical-align:middle;
	}
	#manage{
	width:16%;
	height:5%;
	line-height:200%;
	text-align:center;
	display:inline-block;
	font-size:1.2vw;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;	
	border:1px solid rgba(0,191,243,1);
	border-radius:8%;
	box-shadow:0px 0px 5px 1px rgba(0,191,243,1);
	float:right;
	margin-top:-5.8%;
	margin-right:2%;
	}
	#amanage{
	color:#ffffff;
	text-decoration:none;
	}
	#manage:hover{
	box-shadow:0px 0px 7px 2px rgba(0,191,243,1);
	}
	#name{
	height:5%;
	width:40%;
	font-size:2vw;
	font-family: Georgia,Times,Times New Roman,serif; 
	font-style:italic;
	color:rgba(189,215,238,1);
	display:block;
	position:relative;
	float:right;
	margin-top:1%;
	margin-right:2%;
	text-align:right;
	}
	#nav{
	height:70%;
	width:100%;
	display:inline-block;
	text-align:center;
	}
	
	
	
	@-webkit-keyframes go_l{
	to{margin-left:-250%;}
	}
	@-moz-keyframes go_l{
	to{margin-left:-250%;}
	}
	@-webkit-keyframes go_r{
	to{margin-left:250%;}
	}
	@-moz-keyframes go_r{
	to{margin-left:250%;}
	}
	
	@-webkit-keyframes come_r{
	from{margin-left:250%;display:none;}
	to{margin-left:1%;display:block;}
	}
	@-moz-keyframes come_r{
	from{margin-left:250%;}
	to{margin-left:1%;}
	}
	
	@-webkit-keyframes come_l{
	from{margin-left:-250%;display:none;}
	to{margin-left:1%;display:block;}
	}
	@-moz-keyframes come_l{
	from{margin-left:-250%;}
	to{margin-left:1%;}
	}
	
	
	
	
	#div_cj,#div_jc{
	height:70%;
	width:100%;
	display:inline-block;
	}
	#heading{
	font-size:2vw;
	color:#ffffff;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	}
	#cj{
	transition:all 1s;
	height:20%;
	margin-top:4%;
	cursor:pointer;
	}
	#jc{
	transition:all 1s;
	height:20%;
	margin-top:2%;
	cursor:pointer;
	}
	#cj:hover,#jc:hover{
	transition:all 1s;
	height:22%;
	border-radius:14%;
	box-shadow:0px 0px 5px 2px rgba(0,191,243,1);
	}
	#cj:active,#jc:active{
	height:18%;
	}
	#cast,#cast1{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color:#ffffff;
	display:inline-block;
	position:absolute;
	bottom:1%;
	}
	#cast{
	float:left;
	left:1%;
	}
	#cast1{
	right:2%;
	}
	.place{
	position:relative;
	width:50%;
	margin-left:22.5%;
	margin-top:2%;
	}
	.cl,.cll{
	height:11.8%;
	width:4%;
	display:inline-block;
	margin-left:2%;
	margin-top:-0.3%;
	vertical-align:middle;
	border:1px solid rgba(188,214,239,1);
	text-align:center;
	}
	.cll{
	 margin-left:27%;
	}
	select{
	height:12%;
	width:15%;
	display:inline-block;
	margin-left:-0.2%;
	margin-top:2%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:1.4vw;
	background-color:rgba(8,29,60,1);
	color:rgba(188,214,239,1);
	}
	select:hover{
	transition:box-shadow 0.4s;
	box-shadow:0px 0px 5px 1px rgba(188,214,239,1);
	}
	#avlbl,#avlbl1{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:1.6vw;
	color:rgba(188,214,239,1);
	display:inline-block;
	margin-top:2%;
	}
	#avlbl1{
	margin-left:27%;
	}
	output{
	color:#ffffff;
	margin-left:2%;
	font-size:2vw;
	}
	#book,#book1{
	transition:height 1s;
	height:16%;
	margin-left:27%;
	display:block;
	position:relative;
	display:inline-block;
	margin-top:2%;
	cursor:pointer;
	}
	#spin,#spin2{
	position:absolute;
	margin-left:2%;
	margin-top:4%;
	display:none;
	}
	#confirm{
	height:70%;
	width:100%;
	display:inline-block;
	text-align:center;
	font-size:3vw;
	color:#ffffff;
	}
	#book_text{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:2vw;
	display:inline-block;
	margin-top:2%;
	color:rgba(188,214,239,1);
	}
	#book_status{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size:2vw;
	color:rgba(0,255,0,1);
	}
	.out,.pout{
	background-color:rgba(11,37,74,0);
	border:none;
	color:#ffffff;
	font-size:1.2vw;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	text-decoration:underline;
	cursor:pointer;
	position:absolute;
	right:2%;
	}
	.pout{
	 top:16%;
	}
	.out{
	 top:20%;
	}
	.parker{
	display:block;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	color:#ffffff;
	margin-left:40%;
	margin-top:2%;
	}
	label{
	font-size:1.4vw;
	}
	input[type='checkbox']{
	height:1.2rem;
	width:1.2rem;
	vertical-align:middle;
	}
	#pleasant{
	margin-top:4%;
	display:block;
	}
	/*android*/
	@media only screen and (min-width:100px) and (max-width:480px)
	{
	 body{
	 background-size:cover;
	 }
	 #cast{
	 display:none;
	 }
	 #cast1{
	 font-size:3.4vw;
	 }
	 #jc,#cj{
	 height:12%;
	 }	 
	 #jc:hover,#cj:hover{
	 height:13%;
	 }
	 #name{
	  font-size:4vw;
	  margin-right:4%;
	 }
	 #manage{
	  margin-top:-22%;
	  width:30%;
	  line-height:660%;
	  margin-right:4%;
	 }
	 #amanage{
	  font-size:2.6vw;
	 }
	 .out,.pout{
	  font-size:4vw;
	  right:0.5%;
	 }
	 .pout{
	 font-size:3.4vw;
	  top:14%;
	 }
	 .out{
	  top:18%;
	 }
	 #heading{
	  line-height:600%;
	  top:2vw;
	  font-size:4vw;
	 }
	 .place{
	  width:80%;
	  margin-left:8%;
	  margin-top:8%;
	 }
	 .cl,.cll{
	  margin-top:2%;
	  height:10%;
	  width:10%;
	  margin-top:-0.1%;
	 }
	 .cll{
	  margin-left:12%;
	 }
	 select{
	  font-size:3vw;
	  height:10.4%;
	  width:25%;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{
	 margin-top:5%;
	 font-size:3.4vw;
	 }
	 #avlbl1{
	  margin-left:9%;
	 }
	 label{
	  margin-top:5%;
	  font-size:3.4vw;
	  display:inline-block;
	  vertical-align:middle;
	 }
	 input[type='checkbox']{
	  margin-top:5%;
	  margin-left:-16%;
	 }
	 #book,#book1{
	 height:10%;
	 margin-left:10%;
	 margin-top:5%;
	 }
	 #pleasant,#book_text,#book_status{
	 margin-top:8%;
	 font-size:4.4vw;
	 }
	 #new_book{
	 margin-top:8%;
	 height:10%;
	 vertical-align:middle;
	 }
	 #spin,#spin2{
	 height:2%;
	 }
	}
	@media only screen and (min-width:480px) and (max-width:640px){
	 #manage{
	  margin-top:-20%;
	  line-height:560%;
	 }
	 label{
	 font-size:3vw;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{ 
	 font-size:3.2vw;
	 }
	 #book,#book1{
	 height:10%;
	 margin-left:10%;
	 margin-top:5%;
	 }
	 #pleasant,#book_text,#book_status{
	 font-size:4vw;
	 }
	 #new_book{
	 height:12%;
	 }
	 #spin,#spin2{
	 height:4%;
	 }
	 .out{
	  margin-right:2%;
	  margin-top:3%;
	  font-size:3vw;
	 }
	}
	/*For iphone*/
	@media only screen and (min-width:640px) and (max-width:768px){
	 #cast{
	  display:none;
	 }
	 #name{
	  font-size:3vw;
	  margin-right:4%;
	 }
	 #manage{
	  margin-top:-15%;
	  width:22%;
	  line-height:440%;
	  margin-right:4%;
	 }
	 #amanage{
	  font-size:2vw;
	 }
	 .pout{
	  font-size:2.4vw;
	  top:14%;
	  right:3%;
	 }
	 .out{
	  font-size:3vw;
	  top:17%;
	  right:1%;
	 }
	 #heading{
	  line-height:300%;
	  top:2vw;
	  font-size:3vw;
	 }
	 #jc,#cj{
	 height:14%;
	 }	 
	 #jc:hover,#cj:hover{
	 height:17%;
	 }
	 .place{
	  width:80%;
	  margin-left:8%;
	  margin-top:8%;
	 }
	 .cl,.cll{
	  margin-top:2%;
	  height:10%;
	  width:7%;
	  margin-top:-1%;
	 }
	 .cll{
	  margin-left:14%;
	 }
	 select{
	  font-size:3vw;
	  height:10.4%;
	  width:25%;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{
	 margin-top:5%;
	 font-size:3vw;
	 }
	 #avlbl1{
	  margin-left:14%;
	 }
	 label{
	  margin-top:5%;
	  font-size:2.5vw;
	  display:inline-block;
	  vertical-align:middle;
	 }
	 input[type='checkbox']{
	  margin-top:5%;
	  margin-left:-10%;
	 }
	 #book,#book1{
	 height:12%;
	 margin-left:14%;
	 margin-top:5%;
	 }
	 #pleasant,#book_text,#book_status{
	 margin-top:8%;
	 font-size:3vw;
	 }
	 #new_book{
	 margin-top:8%;
	 height:14%;
	 vertical-align:middle;
	 }
	}
	/*high windows phone*/
	@media only screen and (min-width:768px) and (max-width:1024px){
	 #manage{
	  margin-top:-12%;
	  line-height:360%;
	 }
	 #amanage{
	  font-size:1.8vw;
	 }
	 .out,.pout{
	  font-size:2vw;
	  
	 }
	 .pout{
	  right:3%;
	  top:14%;
	 }
	 .out{
	  right:2%;
	  top:18%;
	 }
	 .place{
	  width:72%;
	  margin-left:14%;
	  margin-top:2%;
	 }
	 .cl,.cll{
	  height:9%;
	  width:6%;
	  margin-top:-0.6%;
	 }
	 .cll{
	  margin-left:18%;
	 }
	 select{
	  font-size:2vw;
	  height:9%;
	  width:24%;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{
	 font-size:2.5vw;
	 }
	 #avlbl1{
	  margin-left:20%;
	 }
	 label{
	  font-size:2vw;
	 }
	 #book,#book1{
	 height:14%;
	 margin-left:18%;
	 margin-top:4%;
	 }
	}
	/*ipad*/
	@media only screen and (min-width:1024px) and (max-width:1280px){
	 #manage{
	  margin-top:-9%;
	  line-height:300%;
	 }
	 #amanage{
	  font-size:1.2vw;
	 }
	 .out,.pout{
	  right:1%;
	  font-size:2vw;
	 }
	 .pout{
	  font-size:1.6vw;
	  top:14%;
	 }
	 .out{
	  top:18%;
	 }
	 .place{
	  width:68%;
	  margin-left:16%;
	  margin-top:2%;
	 }
	 .cl,.cll{
	  height:11%;
	  width:6%;
	  margin-top:-0.6%;
	 }
	 .cll{
	  margin-left:22%;
	 }
	 select{
	  font-size:2vw;
	  height:11%;
	  width:20%;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{
	 font-size:2vw;
	 }
	 #avlbl1{
	  margin-left:24%;
	 }
	 label{
	  font-size:2vw;
	 }
	 #book,#book1{
	 height:16%;
	 margin-left:22%;
	 margin-top:4%;
	 }
	}
	/*netbook*/
	@media only screen and (min-width:1280px) and (min-height:800px) and (max-height:1024px){
	 #manage{
	  margin-top:50%;
	  line-height:260%;
	 }
	 .place{
	  width:55%;
	  margin-left:22%;
	  margin-top:2%;
	 }
	 .cl,.cll{
	  height:11%;
	  width:5%;
	  margin-top:-0.6%;
	 }
	 .cll{
	  margin-left:24%;
	 }
	 select{
	  font-size:1.4vw;
	  height:11%;
	  width:18%;
	 }
	 #avlbl,#avlbl1,#available,#available2,#waitlist,#waitlist2{
	 font-size:2vw;
	 }
	 #avlbl1{
	  margin-left:26%;
	 }
	 label{
	  font-size:2vw;
	 }
	 #book,#book1{
	 height:18%;
	 margin-left:20%;
	 margin-top:4%;
	 }
	 .pout{
	  display:none;
	 }
	}
